crew_env
qwe
v1/src/v1/vector_db/vector_db/d712f00e-86e3-45cf-89a2-774624fdb2df/link_lists.bin
v1/src/v1/vector_db/vector_db/d712f00e-86e3-45cf-89a2-774624fdb2df/length.bin
v1/src/v1/vector_db/vector_db/d712f00e-86e3-45cf-89a2-774624fdb2df/header.bin
v1/src/v1/vector_db/vector_db/d712f00e-86e3-45cf-89a2-774624fdb2df/data_level0.bin
v1/src/v1/vector_db/vector_db/chroma.sqlite3
